.create-task {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px auto;

  &__form-container {
    background-color: #ded3af;
    border-radius: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    width: 60%;
    & form {
      margin: 28px;
      display: grid;
      align-items: center;
      justify-content: center;
      gap: 18px;
    }
  }
  &__back {
    & button {
      float: right;
      background-color: #3d5653;
      color: #ffffff;
      font-weight: 800;
      padding: 14px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      margin-top: -12px;
      transition: all ease 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__title {
    text-align: center;
    margin: 8px 0;
    color: #3d5653;
  }
  &__form-group {
    position: relative;
  }
  &__label {
    position: absolute;
    font-size: 18px;
    top: 0.8rem;
    left: 1rem;
    color: #343434;
    pointer-events: none;
    padding: 0 3px;
    transition: all ease-in 0.2s;
  }
  &__form-control {
    border: 2px solid #425c59;
    outline: none;
    width: 500px;
    height: 28px;
    font-size: 14px;
    padding: 8px 18px;
    border-radius: 15px;
    &:focus {
      border: 2px solid #12b5a9;
    }
  }
  .create-task__form-control:focus ~ .create-task__label,
  .create-task__form-control:not(
      :placeholder-shown
    ).create-task__form-control:not(:focus)
    ~ .create-task__label {
    top: -0.7rem;
    left: 1rem;
    font-size: 14px;
    background-color: #425c59;
    padding: 0 8px;
    color: #d6af13;
  }

  &__form-group-dropdown {
    & label {
      padding-right: 18px;
      font-size: 18px;
    }
  }
  &__form-control-dropdown {
    width: 100px;
    height: 30px;
    outline: none;
    background-color: #feedb4;
    border: 2px solid #425c59;
    & :focus {
      border: 2px solid #12b5a9;
    }
  }
  &__dropdown-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__add-task-btn {
    font-size: 18px;
    font-weight: 700;
    color: #425c59;
    margin: 14px 0;
    padding: 8px 18px;
    background-color: #d6af16;
    border: 1px solid #425c59;
    border-radius: 15px;
    transition: all ease 0.3s;
    &:hover {
      background-color: #425c59;
      color: #d6af16;
    }
  }

  &__invalid-feedback {
    color: red;
    font-size: 14px;
    padding-left: 28px;
  }
  &__input-warning {
    color: #767676;
    font-size: 12px;
    font-weight: 300;
    text-align: start;
    padding-left: 28px;
  }
  &__is-invalid {
    border: 1px solid #c91515;
  }

  .icon-left {
    padding-right: 8px;
  }
}
