<div class="user-profile">
  <div class="user-profile__header">
    <p class="user-profile__page-title">Profile</p>
  </div>
  <div class="user-profile__body">
    <div class="user-profile__user-image" (click)="fileInput.click()">
      <img #userImage [src]="profileImage" />
      <img src="../../../assets/images/user.jpg" alt="" />
      <input
        #fileInput
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
        style="display: none"
      />
    </div>

    <!-- grid box  -->
    <div class="user-profile__user-details">
      <div class="user-profile__user-username-row">
        <div class="user-profile__username-box">
          <label class="user-profile__label">Username:</label>
          <input
            type="text"
            [ngModel]="currentUser?.userName"
            [readonly]="!isUpdating"
            class="user-profile__user-data-show"
            (ngModelChange)="onUsernameChange($event)"
          />
        </div>
      </div>

      <!-- <div class="user-profile__user-data-row"> -->
      <div class="user-profile__firstname-box">
        <label class="user-profile__label">First Name:</label>
        <input
          type="text"
          [ngModel]="currentUser?.firstName"
          [readonly]="!isUpdating"
          class="user-profile__user-data-show"
          (ngModelChange)="onFirstNameChange($event)"
        />
      </div>
      <div class="user-profile__lastname-box">
        <label class="user-profile__label">Last Name:</label>
        <input
          type="text"
          [ngModel]="currentUser?.lastName"
          [readonly]="!isUpdating"
          class="user-profile__user-data-show"
          (ngModelChange)="onLastNameChange($event)"
        />
      </div>
      <!-- </div> -->

      <!-- <div class="user-profile__user-data-row"> -->
      <div class="user-profile__password-box">
        <label class="user-profile__label">Pasword:</label>
        <input
          type="password"
          [ngModel]="currentUser?.password"
          [readonly]="!isUpdating"
          class="user-profile__user-data-show"
          (ngModelChange)="onPasswordChange($event)"
        />
      </div>
      <div class="user-profile__email-box">
        <!-- <p>Email: abc.gmailcom</p> -->
        <label class="user-profile__label">Email:</label>
        <input
          type="email"
          [ngModel]="currentUser?.email"
          [readonly]="!isUpdating"
          class="user-profile__user-data-show"
          (ngModelChange)="onEmailChange($event)"
        />
      </div>
      <!-- </div> -->
    </div>

    <div class="user-profile__user-actions">
      <button class="user-profile__edit-btn" (click)="updateButtonClicked()">Update</button>
      <button class="user-profile__logout-btn" (click)="logoutButtonClicked()">Logout</button>
    </div>
  </div>
</div>
