.login-form-container {
    display: flex;
    width: 100%;
    height: calc(100dvh - 70px);
    
  
    &__image-section {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      padding: 18px;
      & img {
        width: 80%;
      }
    }
    &__form-section {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      & form {
        width: 100%;
        text-align: center;
      }
    }
    &__title {
      font-size: 38px;
      font-weight: 600;
      margin-bottom: 24px;
      color: #3d5653;
    }
    .icon-right{
      padding-left: 8px;
    }
    &__form-group {
      position: relative;
    }
  
    &__label{
      position: absolute;
      font-size: 15px;
      top: 0.8rem;
      left: 12rem;
      color: #343434;
      pointer-events: none;
      background-color: #e2eceb;
      padding: 0 3px;
      transition: all ease-in 0.2s;
    }

  
    &__form-control {
      border: 2px solid #8f5f00;
      color: #3d5653;
      background-color: transparent;
      outline: none;
      width: 50%;
      height: 28px;
      font-size: 16px;
      padding: 8px 18px;
      margin-bottom: 24px;
      border-radius: 15px;
      &:focus {
        border: 2px solid #d6ad1d;
      }
    }
    .login-form-container__form-control:focus ~ .login-form-container__label,
    .login-form-container__form-control:not(:placeholder-shown).login-form-container__form-control:not(:focus)
      ~ .login-form-container__label {
      top: -0.7rem;
      left: 11.6rem;
      font-size: 13px;
      color: #153935;
    }
    .icon-eye{
      position: absolute;
      top: 0.9rem;
      left: 34.1rem;
    }
  
  
    &__login-btn {
      font-size: 20px;
      border-radius: 15px;
      padding: 6px 18px;
      width: 55%;
      color: #d7af12;
      background-color: #425c59;
      transition: all ease-out 0.3s;
      &:hover {
          background-color: #d7af12;
          color: #425c59;
        }
      
        &:active {
          background-color: #9e7e00;
        }
    }
    &__is-user {
      margin: 12px 0;
      font-weight: 300;
    }
    &__signup-text {
      color: #425c59;
      font-weight: 500;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }


  }
  