<div class="login-form-container">
    <div class="login-form-container__image-section">
      <img src="../../../assets/images/signup-img.jpg" alt="" />
    </div>
  
    <div class="login-form-container__form-section">
      <form [formGroup]="form" (ngSubmit)="login()">
        <h1 class="login-form-container__title">Login</h1>
        <div class="login-form-container__form-group">
          <input
            type="text"
            class="login-form-container__form-control"
            formControlName="userName"
            placeholder=" "
          />
          <label for="" class="login-form-container__label">User Name</label>
        </div>
        <div class="login-form-container__form-group">
          <input
            type="password"
            class="login-form-container__form-control"
            formControlName="password"
            placeholder=" "
          />
          <label for="" class="login-form-container__label">Password</label>
        </div>
        <button type="submit" class="login-form-container__login-btn">
          Login
        </button>
      </form>
      <p class="login-form-container__is-user">
        Do not have an account ?
        <a routerLink="signup" class="login-form-container__signup-text">Sign up</a>
      </p>
    </div>
  </div>
  