.dashboard {
  height: calc(100dvh - 70px);

  &__header {
    display: flex;
    flex-direction: column;
    padding: 12px 24px;
  }
  &__greetings {
    font-size: 22px;
    font-weight: 200;
    margin-top: -20px;
  }
  &__page-title {
    display: flex;
    justify-content: center;
  }
  &__page-title-text {
    border-left: 3px dotted black;
    border-right: 3px dotted black;
    padding: 8px 18px;
    border-radius: 30px;
    width: fit-content;
  }

  &__body {
    background-color: #ffffff;
    display: flex;
    width: 100%;
  }

  // body sections
  &__task-tiles-section {
    // background-color: #f8f0e5;
    flex-grow: 6;
    max-width: 60%;
    // padding: 14px 14px;
  }
  &__pie-chart-section {
    // background-color: #fcefdc;
    flex-grow: 4;
    padding: 14px 0;
    border-left: 3px solid #e2eceb;
  }

  &__task-tiles-container {
    margin: 14px auto;
    width: 90%;
    padding: 14px;
  }
  &__pie-chart-container {
    margin: 0 auto;
    width: 85%;
    background-color: aliceblue;
  }

  &__task-tiles-head {
    display: flex;
    justify-content: space-between;
    // padding: 0 14px;
  }
  &__section-title {
    font-size: 34px;
    font-weight: 600;
    color: #323232;
  }
  &__task-create-btn {
    padding: 8px 14px;
    font-size: 16px;
    font-weight: 500;
    box-sizing: border-box;
    background-color: #425c59;
    color: #f1f1f1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: all ease 0.3s;
    &:hover {
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.98);
    }
  }

  // filter section
  &__task-tiles-filter-section {
    // background-color: rgb(207, 215, 222);
    padding: 8px 14px;
  }
  &__task-tiles-dropdown {
    width: fit-content;
  }
  //dropdown start -------
  &__task-tiles-dropbtn {
    background-color: #7f5b4b;
    color: white;
    border-radius: 10px;
    padding: 8px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  &__task-tiles-dropdown-content {
    display: none;
    position: absolute;
    background-color: #bc907c;
    min-width: 160px;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  &__task-tiles-dropdown:hover &__task-tiles-dropdown-content {
    display: block;
  }
  &__task-tiles-dropdown-content {
    & a {
      color: rgb(56, 32, 6);
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    & a:hover {
      background-color: #f4bea5;
    }
  }
  //dropdown end -------

  // task tiles tiles show section ---------------------------
  &__task-tiles-tiles-wrapper {
    padding: 14px;
    display: flex;
    flex-direction: column;
  }
  &__task-tiles-task {
    background-color: #d2c08f;
    padding: 8px 28px;
    border-radius: 10px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin-top: 12px;
    transition: all 0.3s ease;
    &:hover{
      transform: translateY(-5px);
      background-color: #e7d49a;
    }
  }
  &__task-tiles-task-completed {
    background-color: #a29572;
    color: #3b3b3b;
    & button{
      background-color: #425c59;
      color: #959595;
    }
  }
  &__task-tile-details {
    padding: 2px 14px;
    margin: 4px 0;
    font-size: 14px;
    box-sizing: border-box;
    background-color: #a07a21;
    color: #f1f1f1;
    border-radius: 18px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    &:hover {
      transform: translateY(-2px);
    }
    &:active {
      transform: scale(0.95);
    }
  }

  &__task-tiles-left{
    & h3{
      color: #3b3b3b;
      font-size: 24px;
    }
    & p{
      color: #3b3b3b;
      font-style: italic;
    }
  }
  &__task-tiles-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  &__task-tiles-completed {
    background-color: #3d5653;
    color: #ffffff;
    padding: 2px;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
    &:hover {
      background-color: #009c00;
    }
    &:active {
      transform: scale(0.95);
    }
  }

  &__delete-icon {
    color: #8f1002;
    margin-left: 5px;
    font-size: 32px;
    transition: all ease 0.3s;
    &:hover {
      transform: scale(1.5);
      color: #c60000;
    }
  }

  // inside pie chart
  &__pie-chart-container {
    background-color: transparent;
  }
  &__piechart {
    display: block;
    margin: 14px auto;
  }

  .icon-left {
    padding-right: 8px;
    font-size: 18px;
  }
  .icon-right{
    padding-left: 8px;
    font-size: 18px;
  }
}
